.help_content_box {
  padding: 32px;
  font-size: 14px;
  font-weight: 400;
  color: #AFB6BD;
  .help_nav {
    font-weight: 400;
    font-size: 20px;
    color: #AFB6BD;
    gap: 103px !important;
    margin-bottom: 30px;
    .help_nav_item {
      position: relative;
      &.active {
        color: #B5A4FF;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          min-width: 36px;
          height: 7px;
          left: 0;
          bottom: -13px;
          background: linear-gradient(180deg, #5A6CFF 0%, #7E1CFF 100%);
          border-radius: 100px;
        }
      }
    }
  }
  .he_title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    &:nth-child(n+2) {
      margin-top: 36px;
    }
  }
  .he_img {
    margin: 8px 0 20px;
    .he_img_list {
      margin-top: 27px;
      gap: 16px !important;
      img {
        width: 180px;
        height: 72px;
      }
    }
  }
  .txt_link {
    color: #FAC904;
    text-decoration: underline;
  }
  .he_txt_list {
    line-height: 24px;
    &.he_txt_list_sec {
      margin-bottom: 10px;
    }
  }
  .he_title_sec {
    color: #fff;
  }
  .he_box {
    margin-bottom: 8px;
    font-size: 14px;
    padding: 12px 16px;
    border: 1px dashed rgba(175, 182, 189, 1);
    border-radius: 16px;
    .he_box_title {
      color: #fff;
      margin-bottom: 4px;
    }
  }

}
