.help_content_box {
  padding: 32px;
  font-size: 14px;
  font-weight: 400;
  color: #AFB6BD;
  .he_title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    &:nth-child(n+2) {
      margin-top: 36px;
    }
  }
  .he_img {
    margin: 8px 0 20px;
    .he_img_list {
      margin-top: 27px;
      gap: 16px !important;
      img {
        width: 180px;
        height: 72px;
      }
    }
  }
  .txt_link {
    color: #FAC904;
    text-decoration: underline;
  }
  .he_txt_list {
    line-height: 24px;
    &.he_txt_list_sec {
      margin-bottom: 10px;
    }
  }
  .he_title_sec {
    color: #fff;
  }
}
