@timestamp: `new Date().getTime()`;

.game_wallet {
  font-size: 16px;
  width: 1100px;
  min-height: 680px;
  padding: 40px;

  .game_wallet_top {

    .title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 18px;
    }

    .top_mon_box {
      padding: 16px 20px;
      width: 430px;
      height: 124px;
      border-radius: 16px;
      background: linear-gradient(0deg, #4D2680 0.3%, #3A2886 45.39%, #775CE6 179.81%);

      .top_mon_box_l {
        gap: 12px !important;
      }
      .icon {
        width: 30px;
        height: 30px;
        background: url('/img/payment/icon_qb.webp?t=@{timestamp}') center no-repeat;
        background-size: 100%;

        &.icon_bxg {
          background-image: url('/img/payment/icon_lock.webp?t=@{timestamp}');
        }
      }

      .m-txt {
        font-size: 26px;
        font-weight: 700;
        color:rgba(250, 201, 4, 1);
      }

      .automatic {
        >span {
          color: #8E82C2;
          margin-right: 14px;
        }

        ::v-deep(.n-switch) {
          width: 50px;
          height: 20px;

          .n-switch__rail {
            width: 100%;
            height: 100%;

            .n-switch__button {
              width: 16px;
              height: 16px;
              max-width: inherit;
            }
          }

          &.n-switch--active {
            .n-switch__rail {
              box-shadow: inset 0 4px 4px 0 #0c8518;
              background-color: #0cc51e;

              .n-switch__button {
                left: 35px;
              }
            }
          }

        }
      }
    }

    .top_center {

      .zz_btn {
        gap: 5px !important;
        &:nth-child(n+2) {
          margin-top: 24px;
        }
        .icon {
          width: 16px;
          height: 16px;
          background: url('/img/payment/icon_l.webp?t=@{timestamp}') center no-repeat;
          background-size: 100%;

          &.icon-1 {
            transform: rotate(180deg);
          }
        }
      }

    }
  }

  .money-all-div {
    .money_input {
      margin: 30px 0 44px;

      .refresh_icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('/img/payment/Vector.webp?t=@{timestamp}') center no-repeat;
        background-size: 100%;
      }

      ::v-deep(.n-input) {
        width: 250px;
        height: 40px;
        line-height: 40px;
        border-radius: 12px;

        .n-input__input-el {
          height: 100%;
        }

        .n-input__suffix {
          button {
            display: none;
          }
        }
      }

      .btn_ch {
        line-height: 40px;
        text-align: center;
      }
    }

    .kjje_div {
      gap: 14px !important;

      .kj_item {
        width: 110px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: rgba(31, 35, 77, 1);
        font-weight: 700;
        border-radius: 8px;
        //&.active {
        //  background-image: url('/img/payment/monBgActive.webp?t=@{timestamp}');
        //}
      }
    }

    .bot-tips {
      color: #d16363;
      font-size: 14px;
      gap: 5px !important;

      .icon-tip {
        width: 20px;
        height: 20px;
        background: url('/img/payment/error_icon.webp?t=@{timestamp}') center no-repeat;
        background-size: 100%;
      }
    }

    .slider-div {
      margin-top: 35px;

      ::v-deep(.n-slider) {
        .n-slider-rail {
          height: 12px;
          border-radius: 12px;
          background: rgba(33, 36, 67, 1);
          border: 1px solid rgba(38, 41, 76, 1);

          .n-slider-handle {
            width: 36px !important;
            height: 18px !important;
            border-radius: 6px !important;
            background: radial-gradient(75.52% 100% at 50% 0%, #E6EAFF 0%, #CCD5FF 76.56%, #E6EAFF 100%);
            color: rgba(10, 10, 10, 1);
            font-size: 12px;
          }

          .n-slider-rail__fill {
            border-radius: 7px;
            background: linear-gradient(90deg, #FF8000 0%, #FFD633 100%);
          }

        }
      }

    }

    .sub_btn {
      font-weight: 600;
      font-size: 16px;
      display: block;
      width: 330px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin: 40px auto 20px;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
}


.size0 {
  font-size: 24px;
  line-height: 24px;
}

.size1 {
  font-size: 20px;
  line-height: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.size2 {
  font-size: 16px;
  line-height: 16px;
}

.size3 {
  font-size: 14px;
  line-height: 14px;
}

.size4 {
  font-size: 12px;
  line-height: 12px;
}

//.n-button {
//  padding: 0;
//  height: auto;
//  --n-bezier: none !important;
//  --n-bezier-ease-out: none !important;
//  --n-ripple-duration: none !important;
//  --n-opacity-disabled: none !important;
//  --n-wave-opacity: none !important;
//  font-weight: none !important;
//  --n-color: none !important;
//  --n-color-hover: none !important;
//  --n-color-pressed: none !important;
//  --n-color-focus: none !important;
//  --n-color-disabled: none !important;
//  --n-ripple-color: none !important;
//  --n-text-color: none !important;
//  --n-text-color-hover: none !important;
//  --n-text-color-pressed: none !important;
//  --n-text-color-focus: none !important;
//  --n-text-color-disabled: none !important;
//  --n-border: none !important;
//  --n-font-size: none !important;
//  --n-padding: none !important;
//  --n-icon-size: none !important;
//  --n-icon-margin: none !important;
//  --n-border-hover: none !important;
//  --n-border-pressed: none !important;
//  --n-border-focus: none !important;
//  --n-border-disabled: none !important;
//  --n-width: none !important;
//  --n-height: none !important;
//  --n-border-radius: none !important;
//  --n-border: none !important;
//}
