@timestamp: `new Date().getTime()`;

// 表格页公共样式
.record_page {
    padding: 40px 40px;
    background-color: #14173A;
    border: 1px solid #322C59;
    border-radius: 12px;
    margin-bottom: 40px;

    // 搜索区域
    .search_box {
        font-size: 16px;
        color: #AEAEB0;
        white-space: nowrap;

        .search_row {
            margin-bottom: 20px;

            .search_btn {
                // background: url('/img/home/btnBG3.webp?t=@{timestamp}') no-repeat;
                background: linear-gradient(180deg, #5567FF 0%, #9E1EFF 100%);
                height: 40px;
                color: #fff;
                cursor: pointer;
            }
        }

        .search_select {
            height: 40px;
            min-width: 160px;

            :deep(.n-base-selection) {
                border-radius: 10px;
                border: #AEAEB0 solid 2px;
            }

            :deep(.n-base-selection-label) {
                // box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.6);
                box-sizing: border-box;
                height: 40px;
                background: #14173A;

                .n-base-selection-input {
                    color: #AEAEB0;
                    font-size: 18px;

                }

                .n-base-icon {
                    font-size: 18px;
                }
            }

        }
    }

    // 表格区域
    .table {
        border-radius: 10px;
        overflow: hidden;
        font-weight: 400;

        // border-collapse: collapse;
        // border-spacing: 1px;
        :deep(.n-flex) {
            gap: unset !important;
        }

        .tr {
            font-size: 16px;
            color: #AEAEB0;
            min-height: 40px;
        }

        .tr:nth-child(odd) {
            background-color: #0D0E2E;
        }

        .tr:nth-child(even) {
            background-color: #14173A;
        }

        .th {
            min-height: 50px;
            font-size: 18px;
            color: #fff;
        }

        .tt {
            height: 50px;
            background: radial-gradient(87.04% 93.77% at 50% 13.97%, #4C36B3 0.17%, #3A2786 74.42%, #3C279A 100%);
        }

        .td {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: all;
            padding: 10px;
            // border: .1px solid gray;
            box-shadow: inset 0 0 1px 0 gray;
        }

        .td_25 {
            flex: 2.5;
        }

        .td_money {
            color: #FABB2D;
        }

        .t_loading {
            padding-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tr.th {
            background: #1B1F4B;
        }

    }

    .white_table {
        .th {
            .td {
                color: #fff;
            }
        }

        .tr {
            color: #8E82C2;
        }

        .tr:nth-child(even) {
            color: #fff;
        }

        .nodata {
            color: #8E82C2;
        }
    }

    .shadow_table {
        box-shadow: 0px 6px 3px 0px rgba(0, 0, 0, 0.4);
    }

    // 分页区域
    .pagination {
        margin: 30px 0 0px 0;
        justify-content: center;

        :deep(.n-pagination-item) {
            font-size: 16px;
            background: #14173A;
            border: 1.4px solid #AEAEB0;
            color: #AEAEB0;
            border-radius: 10px;
        }

        :deep(.n-pagination-item--button) {
            color: #fff;
            font-weight: bold;
            background: linear-gradient(180deg, #5567FF 0%, #9E1EFF 100%);
            border: unset;

            &:hover {
                color: #fff;
                background: linear-gradient(180deg, #5567FF 0%, #9E1EFF 100%);

            }

            &.n-pagination-item--disabled {
                color: #AEAEB0;
                background: #14173A;
                border: 1.4px solid #AEAEB0;

                &:hover {
                    color: #AEAEB0;
                }
            }
        }

        :deep(.n-pagination-item--active) {
            margin-right: 5px;
            width: 32px;
            height: 32px;
            font-size: 16px;
            color: #fff;
            background: linear-gradient(180deg, #5567FF 0%, #9E1EFF 100%);
            border: 0;

            &:hover {
                color: #fff;
                background: linear-gradient(180deg, #5567FF 0%, #9E1EFF 100%);
            }

            :deep(.n-button__border) {
                border: 0;
            }
        }
    }


}