:root {
    //--c-inactive: #8e82c2;
    //--c-white: #fff;
    //--c-bg-1: #2d1769;
    --c-bg-2: #231353;
    --c-bg-3: #372771;
    --c-bg-4: #1e153e;
    --c-bg-5: #453289;
    --c-bg-6: #ebefff;
    --c-bg-7: #1d0e4a;
    --c-border-1: #322c59;
    --c-border-2: #1170ff;
    --c-border-3: #af9eff;
    --c-text-1: #297bff;

    // 字体大小
    --t-sm: 12px;
    --t-cen: 14px;
    --t-md: 16px;
    --t-lg: 18px;
    --t-xl: 20px;
    --t-xxl: 24px;
}
// 公用
[theme=dayMode], [theme=nightMode] {
  --c-white: #fff; // 侧边栏背字体色
}
// 日间模式
[theme=dayMode] {
  --bg-f-color: #361e79; // 全局背景色
  --bg-t-color: #22203e; // 全局背景色
  --c-inactive: #8e82c2; // 侧边栏字体色
  --c-bg-1: #2d1769; // 侧边栏背景色
  --c-shadow: #131421;
  --c-he-f: rgba(2, 4, 109, 0.9); // 头部导航栏背景色
  --c-he-t: rgba(30, 11, 86, 0.9); // 头部导航栏背景色
  --c-border: #5a47b2;
}
// 夜间模式
[theme=nightMode] {
  --bg-f-color: #080126; // 全局背景色
  --bg-t-color: #120f0f; // 全局背景色
  --c-inactive: #8e82c2; // 侧边栏字体色
  --c-bg-1: #060113; // 侧边栏背景色
  --c-shadow: #030309;
  --c-he-f: #000121; // 头部导航栏背景色
  --c-he-t: #000537; // 头部导航栏背景色
  --c-border: #2b1e68;
}
